::ng-deep .mat-vertical-stepper-content {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
::ng-deep .mat-vertical-stepper-header {
    pointer-events: none !important;
}

::ng-deep .mat-mdc-text-field-wrapper:not(.mdc-text-field-disabled) .mdc-floating-label {
    color: black;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.top-button {
    flex: 1;
    margin: 0 4px;
    color: black;
}
