<div class="choices">
    <mat-grid-list cols="1" rowHeight="4:1">
        <mat-grid-tile>
            <mat-form-field class="form-field">
                <mat-label>Réponse</mat-label>
                <textarea
                    matNativeControl
                    #input
                    class="input-qrl"
                    matInput
                    placeholder="Inscrire votre réponse ici"
                    (input)="onLongAnswerChange($event)"
                    [disabled]="!isEditable()"
                    maxlength="200"
                    [rows]="textareaLines"
                ></textarea>
                <mat-hint>{{ input.value.length }}/{{ answerMaxLength }}</mat-hint>
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>
</div>
